<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="background:#86888a;color:white;border-top:none;border-top:none;position:absolute;left:0px;bottom:0px;width:100%;background:#E0ECFF;height:30px;line-height:30px;color:rgba(148, 160, 204, 0.98);" th:fragment="footer">

<div style="margin:0 auto;width:130px;font-weight:bold;">
	rejoice版权所有
</div>

</div>
</body>
</html>