<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/js/jquery-easyui-1.5.2/themes/bootstrap/easyui.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/js/jquery-easyui-1.5.2/themes/icon.css}" />
	<link rel="stylesheet" type="text/css"
	th:href="@{/js/jquery-easyui-1.5.2/themes/color.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/jquery-easyui-1.5.2/demo/demo.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/rejoice.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/tooltip.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/button.css}" />
<script type="text/javascript"
	th:src="@{/js/jquery-easyui-1.5.2/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/jquery-easyui-1.5.2/jquery.easyui.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/jquery-easyui-1.5.2/locale/easyui-lang-zh_CN.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
		<script type="text/javascript" th:src="@{/js/myPlugin.js}"></script>
</head>
<body>
	<div th:fragment="header"></div>
</body>
</html>